
[type=checkbox] {
	-webkit-appearance:checkbox;
}

/*查看历史记录，在POPUP时快速新增的功能关闭*/
.buttons input#btn_view_change_log,
#addformlink {
	display: none;
}


/***************************************************/
/*颜色调整：color theme*/
/***************************************************/

.required {
	padding:0;
	border:none;
	font-size: 16px;
}
.form-control:focus{box-shadow:none;border:1px solid #ccc}


/****************** Data Tables **************************/
/*colors and style for data table*/


tfoot .paginationActionButtons ul, tfoot .paginationActionButtons .selectActionsDisabled {
	visibility: hidden;
}

/*具有突出效果的Button*/
/*a#basic_search_link,
.buttons .button,
.button, input[type=submit], input[type=button], div.action_buttons .button {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}*/

.datetimepicker td.active {
	border-radius: 30px
	width:30px;
	height:30px;
	background-image: none;
	background-color: #00A2FF;
}

span.id-ff button {
	height:32px;
	width: 32px;
	background-color: #ccc;
	border: 1px solid #a8a8a8;
	box-shadow: none;
	margin: 0 2px;
}
#search_form span.id-ff.multiple {
	top:0px;
}


/* panel*/
.tab-content
.content .detail-view .tab-content {
	color: #778591
}
.panel-default > .panel-heading > a:not(.collapsed) {
	background-color: #fff;
}
.panel-heading a.collapsed {
	background-color: #f8f8f8;
}
.panel-default.sub-panel > .panel-heading > a,
.panel-default > .panel-heading > a {
	color:#778591;
	padding: 5px 0 0 20px;
	font-size: 18px;
}

.panel-default.sub-panel > .panel-heading {
	height: 39px;
}
.panel-default > .panel-heading {
	height: 35px;
}

.panel-default > .panel-heading > a,
.panel-default > .panel-heading > a:not(.collapsed) {
	height: 38px;
}


/******************************subpanel******************************/
/*color for subpanel*/
/*subpanel*/


div.sub-panel {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	margin-bottom:14px;
}
/*detail-view table-content*/
.panel-default {
	border: none;
}
.detail-view .tab-content div.sub-panel {
	box-shadow: none;
	margin-bottom: 0px;
}
.detail-view .tab-content div.sub-panel .panel-heading img{
	display: none;
}
.detail-view .tab-content .panel-default > .panel-heading > a,
.detail-view .tab-content .panel-default.sub-panel > .panel-heading > a {
	font-size: 16px;
}
.detail-view .tab-content .panel-default > .panel-heading {
	border-top: 1px solid #e8e8e8;
	height: 34px;
}

input.sqsEnabled {
	margin-top: 0px
}

/***************************************************/
/*结构调整：compact structure*/
/***************************************************/

div#ajaxloading {/*解决不居中的问题*/
	margin-left:-80px;
}
div#loadingPage {
	font-size: 20px;
	padding: 50px 0;
}
div#loadingPage b{ 
	font-weight: 400;
}

#EditView_tabs .table {
	display: inline-table;
}
#EditView_tabs .table th td {
	border: 1px solid #ccc;
}




/*overall structure*/
.content .detail-view .tab-content {
	padding: 0;
}
.content #EditView_tabs .tab-content {
	padding: 0.5em 1em;
}

.detail-view-row-item {
	min-height: 0px;
}



/*Start of Cuxtomization*/
/*打印时不显示HREF中的内容*/
@media print {
  a[href]:after {
    content: none !important;
  }
  .paginationWrapper, .moduleTitle {
  	 display: none !important;
  }
}

/*FIX：将ALL菜单全部展开，注意需要在headerModuleList.tpl中修改Class*/
.topnav.all .dropdown-menu li {
		width:180px;float:left;margin: 0 5px; overflow:hidden;
}
.topnav.all .dropdown-menu {
		width:800px;/*left:-600px;*/
}

#layoutEditor .le_panel {/*FIX：Stuido开发时会有宽度不正确*/
	width:600px;
}

.p_login_top,
.p_login_bottom,
#copyrightbuttons {
	display:none;
}

#desktop_notifications {display:none;}

/* color of input*/
textarea,
select,
input:not([type]),
input[type=text] {
	border:1px solid #ccc;
	background-color: #fff;
}

/*modal buttons*/
.bootstrap-dialog-footer-buttons .btn{
	border: 1px solid #ccc;
}
.bootstrap-dialog-footer-buttons .btn-default {
	background-color: #fff;
	color:#3C8DBC;
	margin-bottom: 0;
}
.bootstrap-dialog-footer-buttons .btn-default:hover {
	background-color: #efefef;
	color: #2196F3;
}
.bootstrap-dialog-footer-buttons .btn-primary {
	background-color: #3C8DBC;
	color:#fff;
}
.bootstrap-dialog-footer-buttons .btn-primary:hover {
	background-color: #009688;
	color:#fff;
}


.popover .btn-default:hover {
	background-color: #efefef;
	color:#fff;
}


/* sturcture of input widgets */
textarea,
select,
input:not([type]),
input[type=text],
div.edit-view-field[type=bool] {
	line-height: 22px;
	min-height: 30px;
	height: 32px;
	max-width: 300px;
	vertical-align: top;
}

input.yui-ac-input {
	max-width: 220px;
	margin-right: 0px;
}

/*detail view label and fields*/
.edit-view-row .label {
	font-weight: 400;
	font-size: 14px;
	vertical-align: top;
	text-align: right;
	padding: 0 2em 0 0;
	line-height: 20px;
	color:#778591;
}

.detail-view-row .label {
	font-weight: 400;
	font-size: 12px;
	vertical-align: top;
	text-align: right;
	padding: 0 2em 0 0;
	line-height: 20px;
	color:#778591;
}

/*.detail-view table,*/
.detail-view .detail-view-field {
	line-height:26px;
	min-height:26px;
	padding: 0 3px 3px 5px;
	font-size: 16px;
	border-bottom:1px solid #efefef;
	background-color: transparent;
}

.detail-view .detail-view-field a {
	font-weight: 500;
	font-size: 16px;
	min-height:24px;
	line-height:24px;
	background-color:none;
	vertical-align:top;
}
.detail-view .detail-view-field a {
	font-weight: 500px;
}

.lineEditor {
	display: inline-block;
}

.lineEditor .input_group {
	width: 38em;
	display: block;
	vertical-align: top;
	float:left;
}
.lineEditor label {
	width: 12em;
}
.lineEditor {
	background-color: #EDF6FF;padding:10px;
}

.lineEditor .button, .lineEditor input[type=button] {
/*	background-color:#8BBFDE;
*/	padding: 4px 8px;
}

.lineEditor .input_group .button, .lineEditor .input_group input[type=button] {
	background-color:#8BBFDE;
	border: none;
}

.lineEditor input[readonly] {
	background-color: #efefef;
}
.lineEditor .btn_save {
	background-color: #00a2ff;
	color:#fff;
}
.lineEditor .btn_save:hover{
	background-color: #00b359;
}
.lineEditor .btn_del:hover {
	/*突出删除按钮(红色）另btn_del为客户化标签*/
	background-color:#c43c35;
	color:#fff;
}



.email-address-add-button {
	padding:0px 3px;
}
.col-xs-12,.email-address-options-container .col-xs-12, .col-xs-12 .email-address-add-line-container, .col-xs-12 .email-address-lines-container, .col-xs-12  .email-address-lines-container .col-xs-12{
	padding:0px;
}
.email-address-options-container .email-address-option{
	padding:0px;
	width:33%;
}
.email-address-options-container .email-address-option label{
	font-weight:normal;
}

/******************************************************/
/*  modal  */
/******************************************************/
.bootstrap-dialog.type-primary .modal-header {
	background-color: #fff;
}

.bootstrap-dialog.type-primary .modal-header {
	color: rgba(0,0,0,0.87);
	font-size: 19px;
	font-weight: 300;
}


/******************************************************/
/*  Dropdown-time-picker  */
/******************************************************/
.datetimepicker  {
	margin-top: 70px !important;
	margin-left: -174px;
	background-color: #fff;
	color:#667b90;
	border:1px solid #ccc;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.datetimepicker fieldset legend {
	padding: 0px;
}

/* date and time input*/
.edit-view-field input[type="text"].date_input {
	width: 210px;
}

.date,
.edit-view-field .date {
	border-bottom: none;
	width: 200px;
}

.date .input-group-addon,
.edit-view-field .date .input-group-addon {
	background-color:transparent;
	border:none;
	position: relative;
	left: -36px;
	color: #9e9e9e;
	font-size: 18px;
}



/**********************************/
/*以下是完全自定义的一些对象	  */
/**********************************/

/*header_content*/
#header_content {
	 background: #fffcf6; /*#f1fff9;*/
    padding: 12em 10em 2em 2em;
    margin: -10em -1em 0 -1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/*#header_content .detail-view-row {
	width: 60em;
}*/

/*TREEVIEW*/

#treeview_selector .button{
	box-shadow: none;
}

.detailed_data_table {
	display:  table;
	margin:0 0 2em 0;
}

/*机柜管理中显示机柜中的设备*/
.Rack_Elements {
	cursor:pointer;
}
.Rack_Elements:hover{
	border-width:3px;
}
.rack_frame tr td.rack_highlighted {
	background-color: blue;
}
.rack_frame tr td.rack_error {
	background-color: red;
}

.rack_frame tr th, .rack_frame tr td {
	padding:0px 8px;
	border:#eee 1px solid;
	line-height:1.2em;
	font-size:0.8em;
}
.rack_frame tr td {
	background-color: #ccc;
}
.rack_frame tr td.rack_label {
	background-color: #fff;
}
.rack_server {
	background-color:#777;
	color:#fff;
	line-height:0.9em;
	overflow:hidden;
	padding:0px 5px;
	vertical-align:middle;
	/*position:absolute;*/
}
.detail .tab_subpanel tr td[scope=row], .detail .tab_subpanel .action_buttons{
	text-align: left;
}

#lineItems {
	border-style: none;
}

#lineItems.list tr.oddListRowS1 td,
#lineItems.list tr.EvenListRowS1 td,
#lineItems.list thead tr td {
	padding:2px 5px;
}


.input_mask {
	display: block;
	color: #8BBFDE;
	margin:2px 0 -5px 4px;
}
.input_desc {
	display: block;
	color:#999999;
	margin:2px 0 0px 4px;
}
.edit .input-group-addon { /*Datepicker*/
	float:right;
	margin: 0 0 0 -9px;
	padding:5px 20px 5px 6px;
	color:#999999;
	border:0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius:0;
    cursor:pointer;
}
.edit .date  {
	font-weight:normal;
	border-bottom:0;
	font-size:inherit;
}
.input_group input[type=checkbox], input[type=radio]{
	vertical-align:middle;
}

/*动态着色标签*/
.color_tag {
	padding:2px 10px 2px 10px;
	border-radius:15px;
	display: inline-flex;
	line-height: 20px;
}
.color_asset_status_Ordered {
	background-color: #dee8f3;/*蓝绿*/
}
.color_asset_status_Received {
	background-color: #91E9ED;/*亮蓝*/
}
.color_asset_status_PreAssigned {
	background-color: #f1f3de;/*亮绿*/
}
.color_asset_status_InService {
	background-color: #dcf3e5;/*淡绿*/
}
.color_asset_status_Idle {
	background-color: #fffad0;/*淡黄*/
}
.color_asset_status_Stocked {
	background-color: #f2efe6;/*灰偏土黄*/
}
.color_asset_status_TempOut {
	background-color: #dbc7ff;/*紫色*/
}
.color_asset_status_OutOfService {
	background-color: #dbdbdb;/*灰*/
}
.color_asset_status_Discard {
	background-color: #b4b4b4;/*深灰*/
}

/*动态着色标签-单据状态，包括SR、WO*/
.color_doc_status_DRAFT { 
	background-color: #f2efe6;/*灰偏土黄*/
}
.color_doc_status_SUBMITTED {
	background-color: #f1f3de;/*淡黄绿*/
}
.color_doc_status_APPROVED {
	background-color: #dee8f3;/*亮蓝*/
}
.color_doc_status_INPRG {
	background-color: #def3e6;/*亮绿*/
}
.color_doc_status_REJECTED {
	background-color: #fffad0;/*淡黄*/
}
.color_doc_status_CANCELED {
	background-color: #e0e0e0;/*灰*/
}
.color_doc_status_CLOSED {
	background-color: #dcf3e5;/*灰绿*/
}
.color_doc_status_WSCH {
	background-color: #f1f2df;/*淡黄*/
}
.color_doc_status_WMATL {
	background-color: #f1f2df;/*淡黄*/
}
.color_doc_status_WPCOND {
	background-color: #f1f2df;/*淡黄*/
}
.color_doc_status_WPREV {
	background-color: #d0f5f4;/*蓝*/
}
.color_doc_status_COMPLETED {
	background-color: #c9e6d2;/*中绿*/
}
.color_doc_status_REWORK {
	background-color: #aeadd5;/*灰*/
}
.color_doc_status_RETURNED {
	background-color: #ffe0aa;/*亮黄*/
}


