.navbar-inverse {
	background-color: #245a86 !important;
}

/*Start of Cuxtomization*/
/*打印时不显示HREF中的内容*/
@media print {
  a[href]:after {
    content: none !important;
  }
  .paginationWrapper, .moduleTitle {
  	 display: none !important;
  }
}

.recent_h3 {
	padding: 10px 0px;/*FIX：左侧标题*/
}
.recently_viewed_link_container_sidebar li.recentlinks a { /*左侧字体截断*/
	overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 150px;
}

#mobile_menu a {
	background-color:#13618F;/*FIX：默认的移动版本背景为空白，将其填充上*/
}

/*FIX：将ALL菜单全部展开，注意需要在headerModuleList.tpl中修改Class*/
ul.dropdown-menu.All li {
		width:180px;float:left;margin: 0 5px; overflow:hidden;
}
ul.dropdown-menu.All {
		width:800px;left:-600px;
}

#layoutEditor .le_panel {/*FIX：Stuido开发时会有宽度不正确*/
	width:600px;
}


li.topnav:hover{
	background-color:#5f6d7f !important;;/*导航栏鼠标划到时的着色*/
}

.moduleTitle {
	margin: 5px 0px;/*将上方的创建按钮前移*/
}


.yui-navset .selected a em,.yui-navset .yui-nav li a em {/*TAB页面有些错位，进行修正*/
	padding: 7px 8px;
}
.yui-navset .yui-content, .yui-navset .yui-navset-top .yui-content {
	padding:0px 8px;
}
#subpanel_list { /*调整Subpanel相关的内容*/
	margin:1em;
}
[id^=list_subpanel_] {
	margin-bottom:10px !important;
}
[id^=list_subpanel_] .sugar_action_button{
	padding:3px 5px;
}

[id^=list_subpanel_] button {
	border: 1px solid #ccc;
	padding:2px 5px;
}
[id^=list_subpanel_] button[disabled] {
	border: 1px none;
	background-color: #F3F9FF;
	cursor: auto;
}
.edit h4 {
	padding: 0px 0 3px 0;
	margin: 0 0 0 -1em
}
.edit {
	padding: 0 !important;
}

.view, table.view {
	margin: 0.5em 0;
}

#CANCEL_HEADER, #search_form_clear, #CANCEL_FOOTER{
	background-color:#8bbfde;
}
#CANCEL_HEADER:hover, #search_form_clear:hover, #CANCEL_FOOTER:hover{
	background-color:#286090;
}

/*突出提交按钮*/
#SAVE_HEADER,#SAVE_FOOTER,#search_form_submit,#save_and_continue,#Login{
	background-color:#00A2FF;
}
#SAVE_HEADER:hover,#SAVE_FOOTER:hover,#search_form_submit:hover,#save_and_continue:hover,#Login:hover{
	/*突出提交按钮(绿色）另btn_save为客户化标签*/
	background-color:#00b359;
}
#SAVE_HEADER.disabled,#SAVE_FOOTER.disabled,#search_form_submit.disabled,#save_and_continue.disabled,#Login.disabled{
	/*突出提交按钮(绿色）另btn_save为客户化标签*/
	background-color:#ccc;
}



.paginationActionButtons .button[disabled], .paginationChangeButtons button[disabled],.paginationChangeButtons  input[type="submit"][disabled],.paginationChangeButtons  input[type="reset"][disabled],.paginationChangeButtons  input[type="button"][disabled] {
	background-color:#fdfdff;/*换页按钮：无效的*/
}
.paginationActionButtons .button[disabled]:hover .paginationChangeButtons button[disabled]:hover,.paginationChangeButtons  input[type="submit"][disabled]:hover,.paginationChangeButtons  input[type="reset"][disabled],.paginationChangeButtons  input[type="button"][disabled]:hover {
	background-color:#fdfdff;/*换页按钮：无效的*/
}

.paginationActionButtons .button,.paginationChangeButtons .button, .paginationChangeButtons input[type=submit], .paginationChangeButtons input[type=button] {
	background-color:#eeeeee;/*换页按钮：有效的*/
}
.paginationActionButtons .button:hover,.paginationChangeButtons .button:hover, .paginationChangeButtons input[type=submit]:hover, .paginationChangeButtons input[type=button]:hover {
	background-color:#8BBFDE;/*换页按钮：有效的*/
}



input[type=text], select{
	padding:4px;
}

.id-ff .button { /*popup button*/
	background-color: #eeeeee;
}

/*.button, input[type=submit], input[type=button] {
	margin:-4px 2px 2px 2px;
}*/

#popup_query_form .sqsEnabled {width:70%}

.search_form .view, #popup_query_form {/*搜索区域的颜色*/
	background-color:#f9f8f2;
}
.search_form .view {/*搜索区域的颜色*/
	display: inline-table;
}
.moduleTitle span.utils {
	margin-top:0px;
}
/*列表行*/
.oddListRowS1,.evenListRowS1{
	line-height:14px;
}

.list tr.pagination td table td {
	background-color:#f3f9ff;
}

.popupBody .h3Row td{
	padding:-4px 5px 3px 3px;
}
.popupBody #addformlink {display:none;}
.popupBody {
	zoom:0.9;
}
#copyrightbuttons {display:none;}

#panels {width:600px;}
#desktop_notifications {display:none;}



.lineEditor .input_group {
	width: 38em;
	display: inline-block;
	vertical-align: top
}
.lineEditor label {
	width: 12em; vertical-align: middle;
}
.lineEditor {
	background-color: #EDF6FF;padding:10px;
}

.lineEditor .button, .lineEditor input[type=button]{
	background-color:#eee;
	padding: 4px 8px;
}

.lineEditor .button, .lineEditor input[type=button] {
	background-color:#8BBFDE;
	padding: 4px 8px;
}
.lineEditor input[readonly] {
	background-color: #efefef;
}
.lineEditor .btn_save {
	background-color: #3C8DBC;
}
.lineEditor .btn_save:hover{
	background-color: #00b359;
}
.lineEditor .btn_del:hover {
	/*突出删除按钮(红色）另btn_del为客户化标签*/
	background-color:#c43c35;
}
/*#buttontoggle {
	z-index:1001;
	padding:8px 4px 8px 8px;
	background:#F7F7F7;
}*/

.dropdown-menu li a, .dropdown-menu li a:hover{ /*默认的顶部下拉菜单太小，加宽*/
	padding:2px 0px 2px 5px;
}
.dropdown-menu{/*默认的顶部下拉菜单太小，加宽*/
	min-width:220px;
}
.currentTab {/*頂部菜单，突出当前的模块*/
	/*background-color:#609DC1;
	padding:12px 10px 12px 10px;
	margin:0px 5px 0 3px;*/
	background: linear-gradient(rgb(138, 196, 255) 1%,rgb(0, 139, 206) 80%, rgb(54, 127, 202));
    padding: 11px 11px 17px 11px;
    border-radius: 10px 10px 0 0;
}
.datetimecombo_time, .datetimecombo_time { /*默认的时间显示选择框上下不对齐*/
	margin:-5px 0 0 0;
}

#btn_submit, #btn_create_wo {
	margin: 0 0 0 15px;
	padding: 5px 8px 5px 8px;
	background-color:#00A2FF ;
}
.list tr.oddListRowS1 td, .list tr.evenListRowS1 td { /*缩小行上下间隔，使得可以显示更多的列*/
	padding-bottom:2px !important;
	padding-top:2px !important;
	vertical-align: middle;
}

.list tr.oddListRowS1 td img, .list tr.evenListRowS1 td img { /*缩小行上下间隔，使得可以显示更多的列*/
	padding:5px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding:0px;
}
.detail h4 { margin: 2px 10px 0px 10px; }

.favPanelDashlet {
	margin: 0;
}
.favPanelDashlet a {
	font-size:larger;
	margin: 1em 1em 0 1em;
	text-align: center;
	width:9.2em;
	display: inline-block;
	vertical-align:top;
}
.favPanelDashlet .glyphicon{
	font-size:xx-large;
	margin: 0.5em;
	color: #3C8DBC;
}
.favPanelDashlet a label{
	display: block;
	font-size: small;
}
.favPanelDashlet a:hover{
	color: #000;
	background-color: #efefef;
	cursor: auto;
}

.email-address-add-button {
	padding:0px 3px;
}
.col-xs-12,.email-address-options-container .col-xs-12, .col-xs-12 .email-address-add-line-container, .col-xs-12 .email-address-lines-container, .col-xs-12  .email-address-lines-container .col-xs-12{
	padding:0px;
}
.email-address-options-container .email-address-option{
	padding:0px;
	width:33%;
}
.email-address-options-container .email-address-option label{
	font-weight:normal;
}

/******************************************************/
/*  以下是基于Suite Ｐ主题的增强和修正					  */
/******************************************************/
/* Action Bar */
#actionMenuSidebar {
	padding:0;
	margin-bottom: 1em;
}
#actionMenuSidebar h2 {
	display: none;
}
.nav li.actionmenulinks a {
    padding-left: 30px;
    margin-left: -10px;
    background-repeat: no-repeat;
    background-position-y: 6px;
    background-position-x: 10px;
    background-color: #e6ecef;
    margin-top: 0.5em;
}
.nav li.actionmenulinks a:hover {
    background-color: #cff4ce;
}
.nav .actionmenulinks a.side-bar-Create, .nav .actionmenulinks a.side-bar-Add {
    background-image: url("../../../../custom/themes/SuiteR_HANDALM/images/sidebar/Add.png");
}
.nav .actionmenulinks a.side-bar-List, .nav .actionmenulinks a.side-bar-View {
    background-image: url("../../../../custom/themes/SuiteR_HANDALM/images/sidebar/List.png");
}
.nav .actionmenulinks a.side-bar-Import {
    background-image: url("../../../../custom/themes/SuiteR_HANDALM/images/sidebar/Import.png");
}

.nav .actionmenulinks a.side-bar-Create_Contact_Vcard {
    background-image: url("../../../../custom/themes/SuiteR_HANDALM/images/sidebar/Create_Contact_Vcard.png");
}

.favorite_icon_fill .icon {
fill:#ff9800;
}

#create_link {
	display: none;
}
#buttontoggle.button-toggle-collapsed {
    position: fixed;
    top: 80px;
    z-index: 1000;
    height: 30px;
    width: 25px;
    background-color: #72c6f7;
    background-image: none,  url("../../../../custom/themes/SuiteR_HANDALM/images/p_show_sidebar.png");
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 0px;
    cursor: pointer;
}

#buttontoggle.button-toggle-expanded {
    position: fixed;
    top: 80px;
    z-index: 1000;
    height: 30px;
    width: 18px;
    background-color: #eaeaea;
    background-image: none,  url("../../../../custom/themes/SuiteR_HANDALM/images/p_hide_sidebar.png");
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    left: 215px;
    cursor: pointer;
}

li.recentlinks_edit a {
	display: none;
}
/******************************************************/
/*  以下是自定义的Bootstrap一些对象与SuiteCRM冲突	  */
/******************************************************/
.nav .actionmenulinks a.side-bar-TreeView {
    background-image: url("../../../../custom/themes/SuiteR_HANDALM/images/sidebar/TreeView.png");
}


.iconpicker {
    min-width: 50px;
    padding: 0;
    height: 2em;
}

/*Datapicker*/
.edit .bootstrap-datetimepicker-widget.dropdown-menu li a {
	padding: 6px 0;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li a:hover {
	background-color:inherit;
	color:#000000;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu {
	text-align: center;;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li tr {
	padding:0px;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li.collapse {
	display:none;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li.collapse.in {
	display:block;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table th,
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table td {
	display: table-cell;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table th,
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table td.day {
  height: 26px;
  line-height: 20px;
  width: 54px;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table th.picker-switch {
  width: 145px;
  height: 26px;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu .picker-switch .table-condensed td {
  width: 54px;
}

/**********************************/
/*以下是完全自定义的一些对象	  */
/**********************************/

.detailed_data_table {
	display:  table;
	margin:0 0 2em 0;
}

/*机柜管理中显示机柜中的设备*/
.Rack_Elements {
	cursor:pointer;
}
.Rack_Elements:hover{
	border-width:3px;
}
.rack_frame tr td.rack_highlighted {
	background-color: blue;
}
.rack_frame tr td.rack_error {
	background-color: red;
}

.rack_frame tr th, .rack_frame tr td {
	padding:0px 8px;
	border:#eee 1px solid;
	line-height:1.2em;
	font-size:0.8em;
}
.rack_frame tr td {
	background-color: #ccc;
}
.rack_frame tr td.rack_label {
	background-color: #fff;
}
.rack_server {
	background-color:#777;
	color:#fff;
	line-height:0.9em;
	overflow:hidden;
	padding:0px 5px;
	vertical-align:middle;
	/*position:absolute;*/
}
.detail .tab_subpanel tr td[scope=row], .detail .tab_subpanel .action_buttons{
	text-align: left;
}

#lineItems {
	border-style: none;
}
.input_mask {
	display: block;
	color: #8BBFDE;
	margin:2px 0 -5px 4px;
}
.input_desc {
	display: block;
	color:#999999;
	margin:2px 0 0px 4px;
}
.edit .input-group-addon { /*Datepicker*/
	float:right;
	margin: 0 0 0 -9px;
	padding:5px 20px 5px 6px;
	color:#999999;
	border:0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius:0;
    cursor:pointer;
}
.edit .date  {
	font-weight:normal;
	border-bottom:0;
	font-size:inherit;
}
.input_group input[type=checkbox], input[type=radio]{
	vertical-align:middle;
}

/*动态着色标签*/
.color_tag {
	padding:3px 10px 3px 10px;
	border-radius:15px;
	display: inline-flex;
}
.color_asset_status_Ordered {
	background-color: #A2D4D7;/*蓝绿*/
}
.color_asset_status_Received {
	background-color: #91E9ED;/*亮蓝*/
}
.color_asset_status_PreAssigned {
	background-color: #c7ffa1;/*亮绿*/
}
.color_asset_status_InService {
	background-color: #BEEECC;/*淡绿*/
}
.color_asset_status_Idle {
	background-color: #E1DFA6;/*淡黄*/
}
.color_asset_status_Stocked {
	background-color: #CECEBE;/*灰偏土黄*/
}
.color_asset_status_TempOut {
	background-color: #dbc7ff;/*紫色*/
}
.color_asset_status_OutOfService {
	background-color: #dbdbdb;/*灰*/
}
.color_asset_status_Discard {
	background-color: #b4b4b4;/*深灰*/
}

/*动态着色标签-单据状态，包括SR、WO*/
.color_doc_status_DRAFT { 
	background-color: #CECEBE;/*灰偏土黄*/
}
.color_doc_status_SUBMITTED {
	background-color: #e0e5ae;/*淡黄绿*/
}
.color_doc_status_APPROVED {
	background-color: #91E9ED;/*亮蓝*/
}
.color_doc_status_INPRG {
	background-color: #c7ffa1;/*亮绿*/
}
.color_doc_status_REJECTED {
	background-color: #E1DFA6;/*淡黄*/
}
.color_doc_status_CANCELED {
	background-color: #d7d7d7;/*灰*/
}
.color_doc_status_CLOSED {
	background-color: #adcab0;/*灰绿*/
}
.color_doc_status_WSCH {
	background-color: #b4a775;/*淡黄*/
}
.color_doc_status_WMATL {
	background-color: #b4a775;/*淡黄*/
}
.color_doc_status_WPCOND {
	background-color: #b4a775;/*淡黄*/
}
.color_doc_status_WPREV {
	background-color: #add1d5;/*蓝*/
}
.color_doc_status_COMPLETED {
	background-color: #a3dfaa;/*中绿*/
}
.color_doc_status_REWORK {
	background-color: #aeadd5;/*灰*/
}
.color_doc_status_RETURNED {
	background-color: #ffc107;/*亮黄*/
}


