
/*Start of Cuxtomization*/
/*打印时不显示HREF中的内容*/
@media print {
  a[href]:after {
    content: none !important;
  }
  .paginationWrapper, .moduleTitle {
  	 display: none !important;
  }
}

.recent_h3 {
		padding: 10px 0px;/*FIX：左侧标题*/
}

#mobile_menu a {
	background-color:#13618F;/*FIX：默认的移动版本背景为空白，将其填充上*/
}

/*FIX：将ALL菜单全部展开，注意需要在headerModuleList.tpl中修改Class*/
ul.dropdown-menu.All li {
		width:180px;float:left;margin: 0 5px; overflow:hidden;
}
ul.dropdown-menu.All {
		width:800px;left:-600px;
}

#layoutEditor .le_panel {/*FIX：Stuido开发时会有宽度不正确*/
	width:600px;
}


li.topnav:hover{
	background-color:#5f6d7f !important;;/*导航栏鼠标划到时的着色*/
}

.moduleTitle {
	margin: 5px 0px;/*将上方的创建按钮前移*/
}


.yui-navset .selected a em,.yui-navset .yui-nav li a em {/*TAB页面有些错位，进行修正*/
	padding: 7px 8px;
}
.yui-navset .yui-content, .yui-navset .yui-navset-top .yui-content {
	padding:0px 8px;
}
#subpanel_list { /*调整Subpanel相关的内容*/
	margin:1em;
}
[id^=list_subpanel_] {
	margin-bottom:10px !important;
}
[id^=list_subpanel_] .sugar_action_button{
	padding:3px 5px;
}

[id^=list_subpanel_] button {
	border: 1px solid #ccc;
	padding:2px 5px;
}
[id^=list_subpanel_] button[disabled] {
	border: 1px none;
	background-color: #F3F9FF;
	cursor: auto;
}
.edit h4 {
	padding: 0px 0 3px 0;
	margin: 0 0 0 -1em
}
.edit {
	padding: 0 !important;
}

.view, table.view {
	margin: 0.5em 0;
}

#CANCEL_HEADER, #search_form_clear, #CANCEL_FOOTER{
	background-color:#8bbfde;
}
#CANCEL_HEADER:hover, #search_form_clear:hover, #CANCEL_FOOTER:hover{
	background-color:#286090;
}

#SAVE_HEADER,#SAVE_FOOTER,#search_form_submit,#save_and_continue,#Login{/*突出提交按钮*/
	background-color:#00A2FF;
}
#SAVE_HEADER:hover,#SAVE_FOOTER:hover,#search_form_submit:hover,#save_and_continue:hover,#Login:hover{
	/*突出提交按钮(绿色）另btn_save为客户化标签*/
	background-color:#00b359;
}


.paginationChangeButtons button[disabled],.paginationChangeButtons  input[type="submit"][disabled],.paginationChangeButtons  input[type="reset"][disabled],.paginationChangeButtons  input[type="button"][disabled] {
	background-color:#fdfdff;/*换页按钮：无效的*/
}
.paginationChangeButtons button[disabled]:hover,.paginationChangeButtons  input[type="submit"][disabled]:hover,.paginationChangeButtons  input[type="reset"][disabled],.paginationChangeButtons  input[type="button"][disabled]:hover {
	background-color:#fdfdff;/*换页按钮：无效的*/
}
.paginationChangeButtons .button, .paginationChangeButtonsinput [type=submit], .paginationChangeButtons input[type=button] {
	background-color:#8BBFDE;/*换页按钮：有效的*/
}
.paginationChangeButtons .button:hover, .paginationChangeButtons input[type=submit]:hover, .paginationChangeButtons input[type=button]:hover {
	background-color:#286090;/*换页按钮：有效的*/
}


input[type=text], select{
	padding:4px;
}

/*.button, input[type=submit], input[type=button] {
	margin:-4px 2px 2px 2px;
}*/

#EditView_tabs .multiple .button, #EditView_tabs .multiple input[type=button],.search_form .view .multiple .button,#popup_query_form .multiple input[type=button],#popup_query_form .multiple button{
	background-color:#eee;
	padding: 4px 8px;
}
#popup_query_form .sqsEnabled {width:70%}

.search_form .view, #popup_query_form {/*搜索区域的颜色*/
	background-color:#EDF6FF;
}
.moduleTitle span.utils {
	margin-top:0px;
}

.oddListRowS1,.evenListRowS1{line-height:14px;}

.list tr.pagination td table td {
	background-color:#f3f9ff;
}

.popupBody .h3Row td{
	padding:-4px 5px 3px 3px;
}
.popupBody #addformlink {display:none;}
.popupBody {
	zoom:0.9;
}
#copyrightbuttons {display:none;}

#panels {width:600px;}
#desktop_notifications {display:none;}



.lineEditor .input_group {
	width: 38em;
	display: inline-block;
}
.lineEditor label {
	width: 12em; vertical-align: middle;
}
.lineEditor {
	background-color: #EDF6FF;padding:10px;
}

.lineEditor .button, .lineEditor input[type=button]{
	background-color:#eee;
	padding: 4px 8px;
}

.lineEditor .button, .lineEditor input[type=button] {
	background-color:#8BBFDE;
	padding: 4px 8px;
}
.lineEditor input[readonly] {
	background-color: #efefef;
}
.lineEditor .btn_save {
	background-color: #3C8DBC;
}
.lineEditor .btn_save:hover{
	background-color: #00b359;
}
.lineEditor .btn_del:hover {
	/*突出删除按钮(红色）另btn_del为客户化标签*/
	background-color:#c43c35;
}
.sidebar {/*加宽Sidebar*/
	padding:25px 14px 10px 15px;
	min-width:230px !important;
}
#buttontoggle {
	z-index:1001;
	padding:8px 4px 8px 8px;
	background:#F7F7F7;
	/* left: 225px !important */;
}

.dropdown-menu li a, .dropdown-menu li a:hover{ /*默认的顶部下拉菜单太小，加宽*/
	padding:2px 0px 2px 5px;
}
.dropdown-menu{/*默认的顶部下拉菜单太小，加宽*/
	min-width:220px;
}
.currentTab {/*頂部菜单，突出当前的模块*/
	background-color:#609DC1;
	padding:12px 10px 12px 10px;
	margin:0px 5px 0 3px;
}
.datetimecombo_time, .datetimecombo_time { /*默认的时间显示选择框上下不对齐*/
	margin:-5px 0 0 0;
}

#btn_submit, #btn_create_wo {
	margin: 0 0 0 15px;
	padding: 5px 8px 5px 8px;
	background-color:#00A2FF ;
}
.list tr.oddListRowS1 td, .list tr.evenListRowS1 td { /*缩小行上下间隔，使得可以显示更多的列*/
	padding-bottom:2px !important;
	padding-top:2px !important;
	vertical-align: middle;
}

.list tr.oddListRowS1 td img, .list tr.evenListRowS1 td img { /*缩小行上下间隔，使得可以显示更多的列*/
	padding:5px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding:0px;
}
.detail h4 { margin: 2px 10px 0px 10px; }

.favPanelDashlet {
	margin: 0;
}
.favPanelDashlet a {
	font-size:larger;
	margin: 1em 1em 0 1em;
	text-align: center;
	width:9.2em;
	display: inline-block;
	vertical-align:top;
}
.favPanelDashlet .glyphicon{
	font-size:xx-large;
	margin: 0.5em;
	color: #3C8DBC;
}
.favPanelDashlet a label{
	display: block;
	font-size: small;
}
.favPanelDashlet a:hover{
	color: #000;
	background-color: #efefef;
	cursor: auto;
}

/******************************************************/
/*  以下是自定义的Bootstrap一些对象与SuiteCRM冲突	  */
/******************************************************/
.iconpicker {
    min-width: 50px;
    padding: 0;
    height: 2em;
}

/*Datapicker*/
.edit .bootstrap-datetimepicker-widget.dropdown-menu li a {
	padding: 6px 0;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li a:hover {
	background-color:inherit;
	color:#000000;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu {
	text-align: center;;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li tr {
	padding:0px;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li.collapse {
	display:none;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li.collapse.in {
	display:block;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table th,
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table td {
	display: table-cell;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table th,
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table td.day {
  height: 26px;
  line-height: 20px;
  width: 54px;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu li table th.picker-switch {
  width: 145px;
  height: 26px;
}
.edit .bootstrap-datetimepicker-widget.dropdown-menu .picker-switch .table-condensed td {
  width: 54px;
}

/**********************************/
/*以下是完全自定义的一些对象	  */
/**********************************/
#lineItems {
	border-style: none;
}
.input_mask {
	display: block;
	color: #8BBFDE;
	margin:2px 0 -5px 4px;
}
.input_desc {
	display: block;
	color:#999999;
	margin:2px 0 0px 4px;
}
.edit .input-group-addon { /*Datepicker*/
	float:right;
	margin: 0 0 0 -9px;
	padding:5px 20px 5px 6px;
	color:#999999;
	border:0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius:0;
    cursor:pointer;
}
.edit .date  {
	font-weight:normal;
	border-bottom:0;
	font-size:inherit;
}

/*
#tree_view_area {
	border-color:#F6F6F6;
	border-style: solid;
}
#tree_view_area tr td {
	padding:3px 3px 3px 0;
}
#divTreeNode_header {
	border-bottom: #ccc 1px solid;
    padding: 0 0 10px 0;
    font-size: larger;
}
#divTreeNode_detail {
    padding: 15px;
}
#divTreeNode_detail p{
    font-size:1em;
    padding:2px 0px;
}
#divTreeNode_detail p .lab{
    width:25%;
    display: inline-block;
}
#divTreeNode_detail p .detail_data{
	font-weight: bold;
}
#divTreeNode_footer {
	border-top: #ccc 1px solid;
    padding: 10px 0 0 0;
}
#divTreeNode_footer a {
    padding: 0 15px;
    border-left： #ccc 1px solid;
}*/

.rack_frame tr th, .rack_frame tr td {
	padding:0px 8px;
	border:#eee 1px solid;
	line-height:1.2em;
	font-size:0.8em;
}
.rack_frame tr td {
	background-color: #ccc;
}
.rack_frame tr td.rack_label {
	background-color: #fff;
}
.rack_server {
	background-color:#777;
	color:#fff;
	line-height:0.9em;
	overflow:hidden;
	padding:0px 5px;
	vertical-align:middle;
	/*position:absolute;*/
}

/*动态着色标签*/
.color_tag {
	padding:3px 10px 3px 10px;
}
.color_asset_status_InService {
	background-color: #BEEECC;/*淡绿*/
}
.color_asset_status_Ordered {
	background-color: #A2D4D7;/*蓝绿*/
}
.color_asset_status_Idle {
	background-color: #E1DFA6;/*淡黄*/
}
.color_asset_status_LentOut {
	background-color: #7BBE98;/*中绿*/
}
.color_asset_status_OutOfService {
	background-color: #CECEBE;/*灰偏土黄*/
}
.color_asset_status_Received {
	background-color: #91E9ED;/*亮蓝*/
}

/*动态着色标签-单据状态，包括SR、WO*/
.color_doc_status_DRAFT { 
	background-color: #CECEBE;/*灰偏土黄*/
}
.color_doc_status_APPROVED {
	background-color: #91E9ED;/*亮蓝*/
}
.color_doc_status_WORKING {
	background-color: #BEEECC;/*淡绿*/
}
.color_doc_status_REJECTED {
	background-color: #E1DFA6;/*淡黄*/
}
.color_doc_status_CANCELED {
	background-color: #B0B0B0;/*灰*/
}
.color_doc_status_CLOSED {
	background-color: #7BBE98;/*中绿*/
}


