
[type=checkbox] {
	-webkit-appearance:checkbox;
}

/*查看历史记录，在POPUP时快速新增的功能关闭*/
.buttons input#btn_view_change_log,
#addformlink {
	display: none;
}


/***************************************************/
/*颜色调整：color theme*/
/***************************************************/
.popupBody .list tbody > tr > td a,
a {
	color:#0079bf;
}

.required {
	padding:0;
	border:none;
	font-size: 16px;
}
.form-control:focus{box-shadow:none;border:1px solid #ccc}


/****************** Data Tables **************************/
/*colors and style for data table*/

.list, .evenListRowS1 td {
	background-color: #fff;
	border-bottom: 1px #ccc solid;
}

.list-view-rounded-corners .list #pagination td .paginationTable td.paginationActionButtons, 
.list #pagination td .paginationTable .paginationActionButtons {
	background-color:#fff;
}
.evenListRowS1:hover td,
.oddListRowS1:hover td {
	background-color: #eee;
}
/* text for pagination */
#selectLinkTop li.sugar_action_button,
.list #pagination a {
	color:rgba(0,0,0,0.56);
}

/*将按钮扁平化*/
#tab-actions .button,
#EditView .panel .button,
.modal-body .button {
	box-shadow:none;
	border: none;
}

.content #tab-actions > .dropdown-menu .button{
	color:#fff;
}
.content #tab-actions > .dropdown-menu .button:hover{
	color:#fff;
}

/*失效的按钮以及在List上白色不明显的按钮*/
#selectLinkTop li.sugar_action_button,
.paginationTable .button,
.paginationTable .button:disabled,
.edit-view-pagination .btn-pagination[disabled],
.paginationTable button[disabled],
.selectActionsDisabled,
.listViewLinkButton li.sugar_action_button,
.list #pagination {
	background-color: #fff;
	box-shadow:none;
	border: none;
	color:#efefef;
}

.paginationTable button {
	box-shadow: none;
}

#selectLinkTop li.sugar_action_button:hover
.paginationTable button:hover,
{
	background-color: #efefef
}


.tab-content .list tr th, .list tr th,
.subpanel-table.list tr.pagination span.pageNumbers,
.list #pagination td .paginationTable .pageNumbers {
	color:rgba(0,0,0,0.54);
}
.evenListRowS1 td, .oddListRowS1 td {
	color:rgba(0,0,0,0.87);
}
.list .pagination td table td {
	background-color: #fff;
}
div.list-view-rounded-corners > table, tr.pagination-unique {
	border: 1px solid #ccc;
}

.list thead .paginationTable {
	border-bottom: 1px solid #ccc;
}

.table-responsive.list > tbody > tr > td {
	border-bottom:1px solid #e1e1e1;
	padding: 5px;
}
.table-responsive.list > tbody > tr > td > a {color:#0079bf;}
.table-responsive.list > tbody > tr > td > a {
	font-weight: 400; border:none;
}

div#content div#pagecontent form#MassUpdate table.list.view tbody tr td {
	font-weight: 400;
}

.list thead .paginationTable {
	height:56px;
}

/*list view selector*/
.selectedRecords {
	font-weight: 400px;
}
.selectedRecords.value{
	font-size: 18px;
	padding:0 4px;
}




button[disabled], html input[disabled],
.button:disabled {
	background-color: #f7f7f7;
	border:#ccc 1px solid;
	color:#ccc;
	pointer-events: none;
	box-shadow: none;
}

.buttons .primary {
	background-color: #0d8ad4;
	border:#0d8ad4 1px solid;
	color:#fff;
/*	background-image:-webkit-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
*/}
/*将按钮变轻便*/
a#basic_search_link,
.datetimepicker th.today,
.buttons .button,
.button, 
#subpanel_list .tab-content .list.view.subpanel-table .pagination div.action_buttons .button,
.subpanel-table input[type=button],
table.subpanel-table li.sugar_action_button,
input[type=submit],
input[type=reset],
input[type=button],
.edit-view-pagination .btn-pagination,
#EditView div.action_buttons .button,
#save_and_continue.button,
div.action_buttons .button {
	background-color:#f1f5ff;
	font-size: 14px;
	color:#3C8DBC;
    line-height: 36px; height: 36px;
    padding: 0px 16px;
    margin: 4px;
	border-radius:4px;
}

a#basic_search_link:hover,
input[type=submit].button:hover,
input[type=button]:hover,
.buttons .pagination .btn-pagination:hover,
div.action_buttons .button:hover,
.edit-view-pagination .btn-pagination:hover,
#EditView div.action_buttons .button:hover,
#save_and_continue.button:hover,
.buttons .button:hover {
	background-color: #efefef;
	color:#00a2ff;
	font-size: 14px;
	margin: 4px;
	background-image: none;
}


/*具有突出效果的Button*/
a#basic_search_link,
.buttons .button,
.button, input[type=submit], input[type=button], div.action_buttons .button {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.datetimepicker td.active {
	border-radius: 30px
	width:30px;
	height:30px;
	background-image: none;
	background-color: #00A2FF;
}

.list #pagination td .paginationTable .paginationChangeButtons,
.buttons .pagination .btn-pagination {
	background-color:#fff;
	font-weight: 500;
}

span.id-ff button {
	height:32px;
	width: 32px;
	background-color: #ccc;
	/*border: 1px solid #a8a8a8;*/
	box-shadow: none;
	margin: 0 4px;
}


/*突出提交按钮*/
#SAVE,#SAVE_HEADER,#SAVE_FOOTER,#search_form_submit,#save_and_continue,#search_form_submit_advanced,#Login{
	background-color:#00A2FF;
	color:#fff;
/*	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #75bbf7), color-stop(40%, #3da8fd), color-stop(90%, #2b8ad6), color-stop(100%, #2196F3));
*/}

#SAVE:hover, #SAVE_HEADER:hover,#SAVE_FOOTER:hover,#search_form_submit:hover,#save_and_continue:hover,#search_form_submit_advanced:hover, #Login:hover{
	/*突出提交按钮(绿色）另btn_save为客户化标签*/
	background-color:#009047;
	color:#fff;
}
#SAVE_HEADER.disabled,#SAVE_FOOTER.disabled,#search_form_submit.disabled,#save_and_continue.disabled,#Login.disabled{
	/*突出提交按钮(绿色）另btn_save为客户化标签*/
	color:#ccc;
	border:#ccc 1px solid;
}

/*modal**/
.modal-content {
	display: table;
}

/* panel*/
.tab-content
.content .detail-view .tab-content {
	color: #778591
}
.panel-default > .panel-heading > a:not(.collapsed) {
	background-color: #fff;
}
.panel-heading a.collapsed {
	background-color: #f8f8f8;
}
.panel-default.sub-panel > .panel-heading > a,
.panel-default > .panel-heading > a {
	color:#778591;
	padding: 5px 0 0 20px;
	font-size: 18px;
}
.panel-default.sub-panel > .panel-heading,
.panel-default > .panel-heading {
	margin-top: -2px;
	border-top:1px solid #ccc;
	background-image: linear-gradient(to top, rgb(245, 245, 245) 0%,rgb(255, 255, 255) 100%);
	height: 3em;
}

.panel-default > .panel-heading > a,
.panel-default > .panel-heading > a:not(.collapsed) {
	height: 38px;
}

/*navagation bar*/
.navbar-inverse, .globalLinks-desktop .with-label, .desktop-bar .navbar-search.open .dropdown-menu { 
    background-color: #0079bf !important;
}
/*导航的Search*/
.navbar-form.searchform .input-group-btn {
    background:#7ebbdf;
    border-radius: 0 15px 15px 0px;
}
.searchform .query_string {
    background:#7ebbdf !important;
    -webkit-box-shadow:none;
    border-radius: 15px 0 0 15px;
}
.navbar-fixed-top {
    z-index: 1000; /*将当前头调整到Bootstrap POPUP层之后*/
}

.currentTab {/*頂部菜单，突出当前的模块*/
    background-color:#0d8ad4;
    border-radius:10px;
    padding:11px;
}

.navbar-inverse .nav > .topnav > span.currentTab > a {/*頂部菜单，突出当前的模块*/
    color:#fff;
}

.topnav:hover,
.navbar-inverse .dropdown-menu,
.navbar-inverse .dropdown-menu li a,
.navbar-inverse .nav > .topnav > span.notCurrentTab > a:hover /*鼠标一级菜单悬浮时*/
{
    background-color: #0d8ad4;
    color:#fff;
}
.navbar-inverse .dropdown-menu li a:hover { /*鼠标菜单功能悬浮时*/
    background-color: rgba(96, 179, 229, 0.61);
    color:#fff;
}
.navbar-inverse .dropdown-menu {
    padding: 0px;
}
.navbar-inverse .dropdown-menu li a {
    border:none;
}

/******************************subpanel******************************/
/*color for subpanel*/
/*subpanel*/

.list tr th a:link, .list tr th {
	color:rgba(0,0,0,0.54);
}

.list tr th a:link, .list tr th {
	font-size:15px;
	font-weight: 400;
	color:#94a6b5;
}

.list tr th {
	padding: 5px;
}


.list tr.oddListRowS1 td, .list tr.evenListRowS1 td {
	padding: 0;
	border-bottom: 1px solid #ccc;
	line-height: 1.1em;
	min-height: 35px;
}

.list thead th {
	background-color:#fff;
	border-top:none;
	height: 36px;
}

div.sub-panel {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	margin-bottom:14px;
}

/*表头颜色*/
.tab-content .list tr th,
.list tr th {
	color:#7e7e7e;
	border-bottom: 1px solid #efefef;
}
.tab-content thead tr.pagination td {
	border-bottom: 1px solid #ccc;
}
table.footable, table.footable-details {
	border: none;
}
table.subpanel-table.list > tbody > tr > td {
	border-top:1px solid #eee;
	border-bottom: none;
	padding: 2px;
}
.subpanel-table.list tr.pagination button.button[name="listViewStartButton"], .subpanel-table.list tr.pagination button.button[name="listViewPrevButton"], .subpanel-table.list tr.pagination button.button[name="listViewNextButton"], .subpanel-table.list tr.pagination button.button[name="listViewEndButton"], .subpanel-table.list tr.pagination button.button[name="listViewStartButton"][disabled]:hover, .subpanel-table.list tr.pagination button.button[name="listViewPrevButton"][disabled]:hover, .subpanel-table.list tr.pagination button.button[name="listViewNextButton"][disabled]:hover, .subpanel-table.list tr.pagination button.button[name="listViewEndButton"][disabled]:hover {
	border: none;
	background-color: #fff;
}

#subpanel_list .tab-content .list.view.subpanel-table .pagination div.action_buttons .button,
.subpanel-table input[type=button] {
	box-shadow: none;
}

/*buttons on subpanel lines*/
.subpanel-table .SugarActionMenu .sugar_action_button,
table.subpanel-table li.sugar_action_button {
	line-height: 14px;
	color:#3C8DBC;
	height: 24px;
	min-height:24px;
	vertical-align: middle;
	padding: 0px;
}
input.sqsEnabled {
	margin-top: 0px
}

.sub-panel tbody tr td .sugar_action_button > a:link,
.subpanel-table .SugarActionMenu .sugar_action_button a,
table.subpanel-table li.sugar_action_button a{
	color:#3C8DBC;
	text-align: center;
}

table.subpanel-table li.sugar_action_button, div.action_buttons .button,
.sub-panel tbody tr td ul.clickMenu > li > span {
	margin: 6px 0 0 0;
	padding: 0px;
}

/***************************************************/
/*结构调整：compact structure*/
/***************************************************/
.list {
	font-size: 14px;
}
div#loadingPage {
	font-size: 20px;
	padding: 50px 0;
}
div#loadingPage b{ 
	font-weight: 400;
}

.content #EditView_tabs .tab-content {
	margin:14px 0 -5px 0;
}

#EditView_tabs .table {
	display: inline-table;
}
#EditView_tabs .table th td {
	border: 1px solid #ccc;
}

@media(min-width: 1561px) {
    .desktop-bar {width: 30%;}
    .desktop-toolbar {width: 68%}
}

@media(min-width: 1201px) {
    .desktop-bar {width: 25%;}
    .desktop-toolbar {width: 74%}
}
@media(min-width: 751px) {
    .desktop-bar {width: 30%;}
    .desktop-toolbar {width: 68%}
}


.desktop-bar {float: right; margin:18px 20px 0 0;font-size: 1.1em;}
.desktop-toolbar .navbar-brand-container {margin-left: 10px;}
.navbar-inverse .nav > .topnav .currentTab a, 
.navbar-inverse .dropdown-menu li a,
.navbar-inverse .nav > .topnav .dropdown-toggle 
{
    font-size: 16px;
}
.container-fluid {
    margin-top:-10px;
}
.navbar {
    max-height:60px;
    min-height:60px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.navbar-fixed-top .topnav .topnav a:hover {
	box-shadow: none;
}
.navbar-fixed-top .topnav .dropdown-menu {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

.navbar-inverse .nav > .topnav {
    font-size: 15px;
	height:60px;
	line-height:60px;
	letter-spacing:1px;
	padding: 0 3px;
}

/*overall structure*/
.content {
    margin-top:-40px;
    margin-left:0px !important;
    padding: 20px 1% 50px 1%;
}

.content #EditView_tabs .tab-content,
.content .detail-view .tab-content {
	padding: 0.5em 1em;

}

/*Start of Cuxtomization*/
/*打印时不显示HREF中的内容*/
@media print {
  a[href]:after {
    content: none !important;
  }
  .paginationWrapper, .moduleTitle {
  	 display: none !important;
  }
}

/*FIX：将ALL菜单全部展开，注意需要在headerModuleList.tpl中修改Class*/
ul.dropdown-menu.All li {
		width:180px;float:left;margin: 0 5px; overflow:hidden;
}
ul.dropdown-menu.All {
		width:800px;/*left:-600px;*/
}

#layoutEditor .le_panel {/*FIX：Stuido开发时会有宽度不正确*/
	width:600px;
}

.p_login_top,
.p_login_bottom,
#copyrightbuttons {
	display:none;
}

#desktop_notifications {display:none;}

/* color of input*/
textarea,
select,
input:not([type]),
input[type=text] {
	border:1px solid #ccc;
	background-color: #fff;
}
.btn-default {
	border:1px solid #ccc;
	background-color: #fff;
	color:#000;
}
.popover .btn-default:hover {
	background-color: #efefef;
	color:#fff;
}
/* sturcture of input widgets */
textarea,
select,
input:not([type]),
input[type=text],
div.edit-view-field[type=bool] {
	line-height: 22px;
	min-height: 30px;
	height: 32px;
	max-width: 300px;
	vertical-align: top;
}

input.yui-ac-input {
	max-width: 230px;
}

/*detail view label and fields*/
.edit-view-row .label {
	font-weight: 400;
	font-size: 14px;
	vertical-align: top;
	text-align: right;
	padding: 0 2em 0 0;
	line-height: 20px;
	color:#778591;
}

.detail-view-row .label {
	font-weight: 400;
	font-size: 12px;
	vertical-align: top;
	text-align: right;
	padding: 0 2em 0 0;
	line-height: 20px;
	color:#778591;
}

.detail-view table,
.detail-view .detail-view-field {
	line-height:26px;
	min-height:26px;
	padding: 0 3px 3px 5px;
	font-size: 16px;
	border-bottom:1px solid #efefef;
	background-color: transparent;
}
.detail-view .detail-view-field a {
	font-weight: 500;
	font-size: 16px;
	min-height:24px;
	line-height:24px;
	background-color:none;
	vertical-align:top;
}
.detail-view .detail-view-field a {
	font-weight: 500px;
}

.lineEditor {
	display: inline-block;
}

.lineEditor .input_group {
	width: 38em;
	display: flex;
	vertical-align: top;
	float:left;
}
.lineEditor label {
	width: 12em;
}
.lineEditor {
	background-color: #EDF6FF;padding:10px;
}

.lineEditor .button, .lineEditor input[type=button] {
/*	background-color:#8BBFDE;
*/	padding: 4px 8px;
}

.lineEditor .input_group .button, .lineEditor .input_group input[type=button] {
	background-color:#8BBFDE;
	border: none;
}

.lineEditor input[readonly] {
	background-color: #efefef;
}
.lineEditor .btn_save {
	background-color: #00a2ff;
	color:#fff;
}
.lineEditor .btn_save:hover{
	background-color: #00b359;
}
.lineEditor .btn_del:hover {
	/*突出删除按钮(红色）另btn_del为客户化标签*/
	background-color:#c43c35;
	color:#fff;
}



.email-address-add-button {
	padding:0px 3px;
}
.col-xs-12,.email-address-options-container .col-xs-12, .col-xs-12 .email-address-add-line-container, .col-xs-12 .email-address-lines-container, .col-xs-12  .email-address-lines-container .col-xs-12{
	padding:0px;
}
.email-address-options-container .email-address-option{
	padding:0px;
	width:33%;
}
.email-address-options-container .email-address-option label{
	font-weight:normal;
}

/******************************************************/
/*  Dropdown-time-picker  */
/******************************************************/
.datetimepicker  {
	margin-top: 70px !important;
	margin-left: -174px;
	background-color: #fff;
	color:#667b90;
	border:1px solid #ccc;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.datetimepicker fieldset legend {
	padding: 0px;
}

/* date and time input*/
.edit-view-field input[type="text"].date_input {
	width: 210px;
}

.date,
.edit-view-field .date {
	border-bottom: none;
	width: 200px;
}

.date .input-group-addon,
.edit-view-field .date .input-group-addon {
	background-color:transparent;
	border:none;
	position: relative;
	left: -36px;
	color: #9e9e9e;
	font-size: 18px;
}
/**********************************/
/*以下是完全自定义的一些对象	  */
/**********************************/

#treeview_selector .button{
	box-shadow: none;
}

.detailed_data_table {
	display:  table;
	margin:0 0 2em 0;
}

/*机柜管理中显示机柜中的设备*/
.Rack_Elements {
	cursor:pointer;
}
.Rack_Elements:hover{
	border-width:3px;
}
.rack_frame tr td.rack_highlighted {
	background-color: blue;
}
.rack_frame tr td.rack_error {
	background-color: red;
}

.rack_frame tr th, .rack_frame tr td {
	padding:0px 8px;
	border:#eee 1px solid;
	line-height:1.2em;
	font-size:0.8em;
}
.rack_frame tr td {
	background-color: #ccc;
}
.rack_frame tr td.rack_label {
	background-color: #fff;
}
.rack_server {
	background-color:#777;
	color:#fff;
	line-height:0.9em;
	overflow:hidden;
	padding:0px 5px;
	vertical-align:middle;
	/*position:absolute;*/
}
.detail .tab_subpanel tr td[scope=row], .detail .tab_subpanel .action_buttons{
	text-align: left;
}

#lineItems {
	border-style: none;
}
.input_mask {
	display: block;
	color: #8BBFDE;
	margin:2px 0 -5px 4px;
}
.input_desc {
	display: block;
	color:#999999;
	margin:2px 0 0px 4px;
}
.edit .input-group-addon { /*Datepicker*/
	float:right;
	margin: 0 0 0 -9px;
	padding:5px 20px 5px 6px;
	color:#999999;
	border:0;
	-moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius:0;
    cursor:pointer;
}
.edit .date  {
	font-weight:normal;
	border-bottom:0;
	font-size:inherit;
}
.input_group input[type=checkbox], input[type=radio]{
	vertical-align:middle;
}

/*动态着色标签*/
.color_tag {
	padding:2px 10px 2px 10px;
	border-radius:15px;
	display: inline-flex;
	line-height: 20px;
}
.color_asset_status_Ordered {
	background-color: #A2D4D7;/*蓝绿*/
}
.color_asset_status_Received {
	background-color: #91E9ED;/*亮蓝*/
}
.color_asset_status_PreAssigned {
	background-color: #c7ffa1;/*亮绿*/
}
.color_asset_status_InService {
	background-color: #BEEECC;/*淡绿*/
}
.color_asset_status_Idle {
	background-color: #E1DFA6;/*淡黄*/
}
.color_asset_status_Stocked {
	background-color: #CECEBE;/*灰偏土黄*/
}
.color_asset_status_TempOut {
	background-color: #dbc7ff;/*紫色*/
}
.color_asset_status_OutOfService {
	background-color: #dbdbdb;/*灰*/
}
.color_asset_status_Discard {
	background-color: #b4b4b4;/*深灰*/
}

/*动态着色标签-单据状态，包括SR、WO*/
.color_doc_status_DRAFT { 
	background-color: #f2efe6;/*灰偏土黄*/
}
.color_doc_status_SUBMITTED {
	background-color: #f1f3de;/*淡黄绿*/
}
.color_doc_status_APPROVED {
	background-color: #dee8f3;/*亮蓝*/
}
.color_doc_status_INPRG {
	background-color: #def3e6;/*亮绿*/
}
.color_doc_status_REJECTED {
	background-color: #fffad0;/*淡黄*/
}
.color_doc_status_CANCELED {
	background-color: #e0e0e0;/*灰*/
}
.color_doc_status_CLOSED {
	background-color: #dcf3e5;/*灰绿*/
}
.color_doc_status_WSCH {
	background-color: #f1f2df;/*淡黄*/
}
.color_doc_status_WMATL {
	background-color: #f1f2df;/*淡黄*/
}
.color_doc_status_WPCOND {
	background-color: #f1f2df;/*淡黄*/
}
.color_doc_status_WPREV {
	background-color: #d0f5f4;/*蓝*/
}
.color_doc_status_COMPLETED {
	background-color: #c9e6d2;/*中绿*/
}
.color_doc_status_REWORK {
	background-color: #aeadd5;/*灰*/
}
.color_doc_status_RETURNED {
	background-color: #ffe0aa;/*亮黄*/
}


