#currentTabNav {
	display: none; //Remove Current Tab from the menu
}

#preload_menu ul { //Buttons for current Module on ListView & DetailView

	float: right;
	margin: -40px 0 0 0;
	list-style-type: none;
	text-align: center;

	li {
		float: left;
		margin: 0 4px 4px 4px;
		background: rgba(255,255,255,0.2);//transparent;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
		border: none;//1px solid #fff;

		a {
			color: #fff;
			font-size: 16px;
		}

		a:hover {
			color: $danger;
			background-color: $default-btn-hover-color;
		}
	}

	li .side-bar-action-icon {
		width: 25px;
		min-width: 25px;
		display: inline-block;
	}

	li .actionmenulink {
		display: inline-block;
		margin-left: -0.4em
	}

	li:hover a,
	li:hover {
		color: $danger;
		background-color: $default-btn-hover-color;
	}

}

.EditViewTitle.moduleTitle {
	background-color:transparent;
}

.EditViewTitle.moduleTitle .module-title-text,
#detailviewFixedHeader .moduleTitle .module-title-text {
	color: rgba(0,0,0,0.8);
}

#formDetailView #preload_menu ul {
	margin: 23px 2em 0 2em;

	li {
		box-shadow:none;
		margin: 0 4px 4px 0px;
		background-color: #fff;
		border: 1px solid $default-btn-border;

		a {
			color: $default-btn-color;
		}
	}

	li .actionmenulink {
		display: none;
	}

	li:hover .actionmenulink {
		display: inline-block;
	}

}

#DetailViewBtnGroups .buttons{
	float: right;
	margin-top: -26px;
}

.moduleTitle .module-title-text {
	font-size: 30px;
	font-weight: 300;
	max-width: 580px;
	color: #fff;
	border-bottom: 2px solid rgba(255, 255, 255, 0.32);
}

/* move addtional actions into Detailview more buttons*/
#formDetailView .buttons .dropdown-menu {
	background-color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	min-width: 80px;
}

#formDetailView .buttons .dropdown-menu .button {
	padding: 2px;
	margin: 0px;
	width: 100%;
	border: none;
}

#detailviewFixedHeader .moduleTitle {
	margin: -45px -0.5em 0 -0.5em;
	background: #fffcf6;
	padding: 25px 40px 10px 40px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

#header_content {
	background: #fffcf6; /*#f1fff9;*/
    padding: 1em 10em 2em 2em;
    position: relative;
    top: 0;
    margin: -2em -0.5em 1em -0.5em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


#header_content .detail-view-row-item  {
	padding: 10px;

	.label {
		text-align: left;
		font-weight: 300;
		padding: 0 0 0 5px;
		font-size: $page-font-size - 1;
	}
	.detail-view-field {
		height: 28px;
		display: block;

		.sugar_field {
			height: inherit;
			vertical-align: middle;
			display: table-cell;
		}

	}
}

.detail-view .main-view .tab-content .detail-view-field {
	padding: 2px 5px 0 5px;
	background-color: rgba(238, 238, 238, 0.35);
}

.tab-content .detail-view-row-item {
	padding: 5px 20px 0 20px;
}

.main-view {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

#subpanel_list {
	margin-top:-10px;
}

.module_img {
    float: left;
    width: 64px;
    height: 64px;
/*     background: #009688;
 */    margin: -2px 15px 0 15px;
    border-radius: 15px;

    	img {
    		width: 58px;
    	}
}

#module_label {
	color: $danger;
}

#EditView button.iconpicker {
	margin: 0px;
	padding: 0px;
	border: 1px solid $input-select-bg;
	font-size: 1.1em
}

/*navigation bar - menu */
#toolbar .topnav.all .dropdown-menu>li {
	width: 780px;

	.nav-tabs {
		border: 0;
		li {
			width: 150px;
			/* tab for Navigation menu and All menu*/
			a {
				border: none;
				border-bottom: 5px transparent solid;
				background-color: transparent;
				color: #fff;
				text-align: center;
			}
		}

		li a:hover,
		li.active>a:hover,
		li.active>a {
			border-bottom: 5px #fff solid;
		}
	} //end .nav-tabs

}

.topnav.all .dropdown-menu .tab-pane {
		a [class^="icon-"],
		a [class*=" icon-"] {
			font-size: 1.5em;
			color: rgba(255,255,255,0.52);
			margin: 0 5px 0 0;
		}

		a {
				width: 180px;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;
		}
}

.topnav.all .tab-content {
	border-top: 1px solid rgba(255,255,255,0.32);

	.tab-pane {
		height: 500px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	#navigation_menu {
		column-count: 4;
    	column-gap: 1em;
		-moz-column-count: 4;
		-moz-column-gap: 1em;
		-webkit-column-count: 4;
		-webkit-column-gap: 1em;
		white-space: normal;
		width: 780px;

    	>div {
    		display: inline-block;
    		width: 100%;
    		break-inside: avoid;
    		page-break-inside: avoid;
    		margin: 0.5em 0 2em 0;

			h2 {
				font-weight: 300;
				font-size: 19px;
				padding: 0 0 0 5px;
				margin: 0.5em 0;
				color: rgba(255,255,255,0.72);
			} //end h2
    	} //end div
	}//end navigation_menu

}

//Subpanel
//Subpanel - header

#subpanel_list li:hover {
	box-shadow: 0 13px 25px 0 rgba(0,0,0,0.1), 0 11px 7px 0 rgba(0,0,0,0.09);
}
.action_buttons {
	//margin: 10px 0 0px 15px;
	width: auto;
	float: left;
	background-color: transparent;

		input[type=button],
		input.button {
			border:none
		}
}

.footable-last-visible {
	text-align: right;
}
//Subpanel - foot
.SubpanelFoot {
	padding: 5px 20px 0 20px;
	margin-bottom: -10px;
	border-top: 1px solid #ddd;
	color: rgba(0,0,0,0.54);
}